:root {
  --main--color: #f6f6f6;
  --main-text-color: #454545;
  --accent-color: #ffd600;
  --secondary-accent-color: #50bd7c;
  --title-color: #252525;
  --secondary-title-color: #202020;
}
*,
html {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gilroy-Bold', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--main-text-color);
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style-type: none;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 20px;
}
.title {
  font-size: 28px;
  color: var(--title-color);
  line-height: 1.08;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 65px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 120px;
  }
}

img {
  display: block;
  max-width: 100%;
}
a {
  cursor: pointer;
}
.header__contaiter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .header__contaiter {
    padding-top: 33px;
    padding-bottom: 33px;
  }
}
.header__left-part,
.header__right-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.logo {
  margin-right: 19px;
}
.header__nav {
  display: flex;
}
.header__text {
  font-size: 12px;
  font-weight: 700;
}
.header__transition {
  display: flex;
  font-weight: 700;
  margin-right: 54px;
}
.header__transition-item:last-child {
  margin-right: 0;
}
.header__transition-item {
  margin-right: 22px;
}
.header__transition-item:hover {
  color: var(--accent-color);
}
.header__switch {
  width: 70px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-right: 14px;
}
@media screen and (min-width: 768px) {
  .header__switch {
    width: 94px;
    border-radius: 100px;
  }
}

.header__switch::before {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-left: 15px;
  border: 2px solid #ffb74d;
  background-color: var(--accent-color);
  border-radius: 50%;
}
.header__sap,
.actual__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 172px;
  height: 45px;
  border: 1px solid var(--accent-color);
  border-radius: 100px;
  margin-right: 22px;
}
.header__sap:hover {
  background-color: var(--accent-color);
}

.hero__container {
  padding-top: 34px;
  padding-bottom: 54px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    padding-top: 25px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__container {
    padding-top: 36px;
    padding-bottom: 120px;
  }
}
.hero__wrap {
  display: flex;
}
.hero__img {
  padding-top: 64px;
  margin-right: 63px;
}
.title {
  font-size: 28px;
  font-weight: 900;
  color: var(--title-color);
  margin-bottom: 3px;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 65px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 120px;
    margin-bottom: 7px;
  }
}
.hero_text {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .hero_text {
    font-size: 18px;
    margin-bottom: 22px;
  }
}
@media screen and (min-width: 1024px) {
  .hero_text {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.hero_text::before {
  content: '';
  display: inline-block;
  width: 56px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}
@media screen and (min-width: 768px) {
  .hero_text::before {
    width: 66px;
  }
}
@media screen and (min-width: 1024px) {
  .hero_text::before {
    width: 195px;
  }
}
@media screen and (min-width: 768px) {
  .img-dragon {
    display: none;
  }
}
.hero__cardgame {
  column-count: 2;
}
@media screen and (min-width: 768px) {
  .hero__cardgame {
    display: none;
  }
}
.hero__cardgame-tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__cardgame-tablet {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  .hero__cardgame-tablet {
    display: none;
  }
}
.hero__cardgame-desk {
  display: none;
}
@media screen and (min-width: 1024px) {
  .hero__cardgame-desk {
    display: flex;
    justify-content: space-between;
  }
}
.advantages__container {
  padding-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .advantages__container {
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__container {
    padding-bottom: 167px;
  }
}
.secondary__title {
  font-size: 28px;
  font-weight: 800;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .secondary__title {
    font-size: 45px;
  }
}
@media screen and (min-width: 1024px) {
  .secondary__title {
    font-size: 65px;
  }
}
.advantages__title {
  text-align: center;
  padding-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    padding-bottom: 38px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__title {
    padding-bottom: 43px;
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .advantages__list {
    justify-content: space-evenly;
  }
}
.advantages__item {
  width: 320px;

  border: 2px solid var(--main--color);
  border-radius: 9px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: 350px;
  }
  .advantages__item:nth-child(2n + 1) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__item {
    width: 424px;
  }
  .advantages__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
.advantages__item:last-child {
  margin-bottom: 0;
}
.adv_inner {
  padding: 30px 15px 15px 25px;
}
.advantages__img {
  margin-bottom: 20px;
}
.advantages__title-secondary {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--secondary-title-color);
}
@media screen and (min-width: 768px) {
  .advantages__title-secondary {
    font-size: 20px;
  }
}

.howwork {
  background-color: var(--main--color);
}
@media screen and (min-width: 768px) {
  .howwork {
    background-image: url(./images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1024px) {
  .howwork {
    background-image: url(./images/bg-desk.png);
  }
}
.howwork__container {
  position: relative;
  padding-top: 52px;
  padding-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .howwork__container {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .howwork__container {
    padding-top: 46px;
    padding-bottom: 117px;
  }
}

.howwork__title {
  text-align: center;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .howwork__title {
    text-align: inherit;
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1024px) {
  .howwork__title {
    margin-bottom: 58px;
  }
}
.howwork__inner {
  display: flex;
}
@media screen and (min-width: 768px) {
  .howwork__list {
    column-count: 2;
  }
}
@media screen and (min-width: 1024px) {
  .howwork__list {
    display: flex;
  }
}
.howwork__item {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.howwork__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) {
  .howwork__item {
    width: 283px;
  }
}
.howwork__text {
  margin-left: 10px;
}

.howwork__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .howwork__img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.questions__container {
  padding-top: 52px;
  padding-bottom: 59px;
}
@media screen and (min-width: 768px) {
  .questions__container {
    padding-top: 63px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .questions__container {
    display: flex;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 119px;
  }
}
@media screen and (min-width: 1024px) {
  .questions__left-part {
    margin-right: 113px;
  }
}
.questions__title {
  margin-bottom: 16px;
}

@media screen and (min-width: 1024px) {
  .questions__title {
    margin-bottom: 39px;
  }
}
.questions__text {
  font-size: 14px;
  margin-bottom: 22px;
}
@media screen and (min-width: 768px) {
  .questions__text {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 1024px) {
  .questions__text {
    margin-bottom: 0;
  }
}
.faq__title {
  background: var(--main--color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
  padding: 12px 16px;
  margin-bottom: 7px;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .faq__title {
    padding: 17px 20px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .faq__title {
    margin-bottom: 19px;
  }
}
.faq__text {
  font-size: 14px;
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .faq__text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .faq__text {
    margin-bottom: 25px;
  }
}
.payment {
  background-color: var(--main--color);
}
.payment__container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ffffff;
}
@media screen and (min-width: 768px) {
  .payment__container {
    padding-top: 40px;
    padding-bottom: 31px;
  }
}
@media screen and (min-width: 1024px) {
  .payment__container {
    padding-top: 77px;
    padding-bottom: 82px;
  }
}
.payment__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.payment__item {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  width: 73px;
  height: 42px;
  background-color: #ffffff;
  border-radius: 9px;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .payment__item {
    width: 167px;
    height: 97px;
  }
}
@media screen and (min-width: 1024px) {
  .payment__item {
    width: 177px;
    height: 104px;
  }
}

.payment__img {
  margin: 0 auto;
}
footer {
  background-color: var(--main--color);
}
.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding-top: 16px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.footer__text {
  font-weight: 300;
  color: rgba(16, 16, 16, 0.43);
}
.footer__left-part,
.footer__right-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer__list-nav {
  display: flex;
  flex-wrap: wrap;
}
.footer__item-nav {
  margin-right: 39px;
  font-weight: 300;
  color: rgba(16, 16, 16, 0.43);
}
.footer__switch-lang,
.footer__switch-cash {
  width: 75px;
  height: 45px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}
.footer__switch-lang {
  margin-right: 10px;
}

/*Catalog*/

.breadcrumb {
  display: none;
}
@media screen and (min-width: 1024px) {
  .breadcrumb {
    display: block;
  }
}
.breadcrumb__item {
  font-family: 'Gilroy-Light', sans-serif;
  display: inline;
  font-weight: 400;
  color: #2b2b2b;
}
.breadcrumb__item + .breadcrumb__item::before {
  margin: 0 10px;
  color: #b5b5b5;
  content: '\276F';
}
.container__inner {
  display: flex;
  margin-top: 17px;
}
@media screen and (min-width: 768px) {
  .container__inner {
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .container__inner {
    margin-top: 52px;
  }
}
@media screen and (min-width: 1024px) {
  .catalog__menu {
    width: 304px;
    margin-right: 34px;
  }
}
.catalog__list {
  background-color: #ffffff;
}
.catalog__item {
  display: flex;
  padding: 10px 10px 10px 21px;
}
.catalog__item-img {
  margin-right: 20px;
}
.catalog__item-text {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  border-bottom: 1px solid #f8f8f8;
}
.catalog__item-arrow {
}
.catalog__info {
  width: 1491px;
}
.actual {
  padding-bottom: 45px;
}
@media screen and (min-width: 768px) {
  .actual {
    padding-bottom: 63px;
  }
}
@media screen and (min-width: 1024px) {
  .actual {
    padding-bottom: 92px;
  }
}
.actual__bg {
  height: 597px;
  background-image: url(./images/bg_catalog_mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  border-radius: 9px;
}
@media screen and (min-width: 768px) {
  .actual__bg {
    background-image: url(./images/bg_catalog_tablet.png);
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1024px) {
  .actual__bg {
    background-image: url(./images/bg_catalog.png);
    margin-bottom: 31px;
  }
}
.actual__bg--padding {
  padding: 25px 18px;
}
@media screen and (min-width: 768px) {
  .actual__bg--padding {
    padding: 25px 48px;
  }
}
.actual__bg-inner {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .actual__bg-inner {
    margin-bottom: 31px;
  }
}
.actual__bg-text {
  font-weight: 600px;
  color: #ffffff;
  margin-bottom: 5px;
}

.actual__bg-title {
  font-size: 28px;
  font-weight: 800;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .actual__bg-title {
    font-size: 36px;
    margin-right: 25px;
  }
}
.actual__bg-lang {
  display: none;
}
@media screen and (min-width: 768px) {
  .actual__bg-lang {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 45px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.38);
    color: #ffffff;
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .actual__bg-lang--color {
    background-color: var(--accent-color);
    color: #000000;
  }
}

.actual__list,
.cards__list {
  display: flex;
  flex-wrap: wrap;
}
.actual__item,
.card__item {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-right: 20px;
}
.actual__img,
.card__img {
  position: relative;
}
.actual__img-text,
.card__img-text {
  position: absolute;
  bottom: 12px;
  left: 27px;
  width: 75px;
  background-color: var(--accent-color);
  padding: 4px 12px;
  border-radius: 2px;
}
@media screen and (min-width: 768px) {
  .actual__img-text {
    width: 80px;
  }
}
.actual__info {
  padding: 18px 23px 25px 23px;
}
@media screen and (min-width: 768px) {
  .actual__info {
    padding: 19px 25px 27px 25px;
  }
}
.actual__info-title,
.card__info-title {
  font-weight: 700;
  margin-bottom: 9px;
  color: #2b2b2b;
}
.actual__info-text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 3px;
  color: #b5b5b5;
}
.actual__info-timer,
.actual__info-cash {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #2b2b2b;
}

.actual__btn {
  margin: 0 auto;
}
.cards__title {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .cards__title {
    margin-bottom: 40px;
  }
}

.card__item {
  width: 100%;
  margin-bottom: 21px;
}
@media screen and (min-width: 768px) {
  .card__item {
    width: 30.5%;
  }
}
@media screen and (min-width: 1024px) {
  .card__item {
    width: 19%;
  }
}
.card__info {
  padding: 22px 22px;
}
@media screen and (min-width: 768px) {
  .card__info {
    padding: 19px 16px;
  }
}
@media screen and (min-width: 1024px) {
  .card__info {
    padding: 20px 20px;
  }
}
.card__info-title {
  font-weight: 700;
  color: #2b2b2b;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .card__info-title {
    margin-bottom: 18px;
  }
}
.card__info-list {
  margin-left: 20px;
  list-style-type: disc;
}
.card__info-item {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 16px;
}
.card__info-text--sale {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
  text-decoration: line-through;
  color: #c9c9c9;
}
.card__info-text {
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .card__info-text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .card__info-text {
    font-size: 20px;
  }
}
.sale__inner {
  display: flex;
  flex-wrap: wrap;
}
.sale {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  background-color: var(--secondary-accent-color);
  border-radius: 2px;
  color: #ffffff;
  margin-left: 10px;
  padding: 3px 4px;
}
@media screen and (min-width: 1024px) {
  .sale {
    padding: 4px 10px;
  }
}
.reviews__title {
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  .reviews__title {
    margin-bottom: 23px;
  }
}
.whywe__title {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .whywe__title {
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 1024px) {
  .whywe__title {
    margin-bottom: 39px;
  }
}
.whywe__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.whywe__item {
  position: relative;
  width: 71%;
  border: 2px solid var(--main--color);
  border-radius: 9px;
  text-align: center;
  color: #000000;
  padding: 35px 38px 43px 38px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .whywe__item {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .whywe__item {
    width: 43%;
    margin-right: 20px;
  }
  .whywe__item:nth-child(2n) {
    margin-right: 0;
  }
}
.whywe__item-line {
  position: absolute;
  top: 12px;
  left: 12px;
}
.whywe__item-img {
  margin: 0 auto;
}
.whywe__item-title {
  font-size: 20px;
  font-weight: 700;
}
.whywe__item-text {
}
.info,
.info__text--pading {
  padding-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .info,
  .info__text--pading {
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 1024px) {
  .info,
  .info__text--pading {
    padding-bottom: 90px;
  }
}
.info__title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .info__title {
    font-size: 32px;
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1024px) {
  .info__title {
    margin-bottom: 17px;
  }
}
.info__text {
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .info__text {
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 1024px) {
  .info__text {
    margin-bottom: 17px;
  }
}

/*Card*/
.card__pay-position {
  position: relative;
}
.banner__bg {
  position: relative;
  height: 314px;
  background-image: linear-gradient(102.26deg, rgba(17, 17, 17, 0.4) 22.26%, rgba(17, 17, 17, 0) 67.61%),
    url(./images/bg-card-mob.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 24px;
  border-radius: 9px;
}
@media screen and (min-width: 768px) {
  .banner__bg {
    height: 390px;
    background-image: linear-gradient(102.26deg, rgba(17, 17, 17, 0.4) 22.26%, rgba(17, 17, 17, 0) 67.61%),
      url(./images/bg-card-tablet.png);
    margin-bottom: 64px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .banner__bg {
    background-image: linear-gradient(102.26deg, rgba(17, 17, 17, 0.4) 22.26%, rgba(17, 17, 17, 0) 67.61%),
      url(./images/bg-card.png);
    margin-bottom: 91px;
    margin-top: 24px;
  }
}
.banner__bg-inner {
  padding: 29px;
}
@media screen and (min-width: 768px) {
  .banner__bg-inner {
    width: 61%;
    padding: 29px;
  }
}
.banner__title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .banner__title {
    font-size: 32px;
    margin-bottom: 10px;
    line-height: 1.31;
  }
}
@media screen and (min-width: 1024px) {
  .banner__title {
    font-size: 50px;
    margin-bottom: 34px;
    line-height: 1.2;
  }
}
.banner__stars {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.banner__stars-list {
  display: flex;
  flex-wrap: wrap;
}
.banner__stars-item {
  margin-right: 4px;
}
.banner__stars-item:last-child {
  margin-right: 10px;
}
.banner__stars-text {
  background: rgba(255, 255, 255, 0.38);
  border-radius: 5px;
  color: #ffffff;
  padding: 6px;
}
.banner__list {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 29px;
}
@media screen and (min-width: 768px) {
  .banner__list {
    bottom: 59px;
  }
}
.banner__item {
  width: 44%;
}
@media screen and (min-width: 768px) {
  .banner__item {
    width: auto;
    margin-right: 35px;
  }
}
.banner__item-title {
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .banner__item-title {
    font-size: 35px;
  }
}
.banner__item-text {
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  line-height: 1.13;
}
@media screen and (min-width: 768px) {
  .banner__item-text {
    font-size: 15px;
  }
}
.card__pay {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--main--color);
  border-radius: 9px;
  padding: 22px 31px;
  margin-bottom: 46px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .card__pay {
    position: absolute;
    bottom: -25px;
    right: 20px;
    width: 253px;
    display: block;
    padding: 22px 23px 32px 21px;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .card__pay {
    width: 285px;
    padding: 32px 16px 32px 25px;
    bottom: -51px;
  }
}
.card__pay-money {
  font-size: 40px;
  font-weight: 800;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .card__pay-money {
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .card__pay-money {
    margin-bottom: 25px;
  }
}
.card__pay-inner {
  display: none;
}
@media screen and (min-width: 768px) {
  .card__pay-inner {
    display: block;
  }
}
.card__pay-title {
  font-family: 'Gilroy-Medium', sans-serif;
  color: #2b2b2b;
  margin-bottom: 15px;
}
@media screen and (min-width: 1024px) {
  .card__pay-title {
    margin-bottom: 17px;
  }
}
.card__pay-text {
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 14px;
  margin-bottom: 17px;
  line-height: 1.5;
}

@media screen and (min-width: 1024px) {
  .card__pay-text {
    margin-bottom: 24px;
  }
}
.accent {
  font-family: 'Gilroy-Bold', sans-serif;
  text-decoration: underline;
  font-weight: 600;
  color: #373737;
}
.card__pay-btn {
  border: 2px solid #f9b83f;
  border-radius: 5px;
  padding: 18px 40px;
}
@media screen and (min-width: 768px) {
  .card__pay-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 206px;
    font-weight: 700;
    color: #2b2b2b;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1024px) {
  .card__pay-btn {
    width: 233px;
  }
}
.card__pay-btn--color {
  background-color: #f9b83f;
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .product__container {
    max-width: 1491px;
  }
}
.option__title {
  font-size: 24px;
  font-weight: 800;
  color: var(--title-color);
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  .option__title {
    font-size: 45px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .option__title {
    font-size: 65px;
    margin-bottom: 30px;
  }
}
.option__item {
  display: flex;
  align-items: center;
  background: var(--main--color);
  border-radius: 5px;
  padding: 12px 21px;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .option__item {
    position: relative;
    display: block;
    padding: 23px 20px;
  }
}
.option__item-inner {
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .option__item-inner {
    display: flex;
    justify-content: space-between;
    margin-left: 75px;
  }
}

.checkbox__option {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}
@media screen and (min-width: 768px) {
  .checkbox__option {
    position: absolute;
    top: 18px;
  }
}
.checkbox__option .checkbox__option-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 56px;
  height: 30px;
  vertical-align: top;
  background: #ffffff;
  border-radius: 120px;
  transition: 0.2s;
}
.checkbox__option .checkbox__option-switch:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 1px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
  background: #ffffff;
  transition: 0.15s;
}
.checkbox__option input[type='checkbox'] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__option input[type='checkbox']:checked + .checkbox__option-switch:before {
  background-color: var(--accent-color);
}
.checkbox__option input[type='checkbox']:checked + .checkbox__option-switch:before {
  transform: translateX(28px);
}
.option__item img {
  margin-left: 13px;
}
@media screen and (min-width: 768px) {
  .option__inner-img {
    display: flex;
    align-items: center;
  }
  .option__item img {
    margin-right: 12px;
  }
}

.option__text {
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 18px;
  color: #2b2b2b;
}

.option__money {
  font-size: 18px;
  font-weight: 700;
  color: #2d2d2d;
}
.payoption__list {
  display: flex;
  flex-wrap: wrap;
  padding: 13px;
  border: 1px solid #2d2d2d;
  border-radius: 5px;
}
.payoption__item {
  padding: 10px 0;
  background: #f2f2f2;
}
/*Terms and conditions*/
.terms__title {
}
.terms__text {
}
.terms__title-secondary {
}
